<div>
  <h3>Ken</h3>
</div>

{% schema %}
{
  "name": "t:sections.ken-test.name",
  "tag": "section",
  "class": "spaced-section"
  
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
