<div>
  <h3>Ken</h3>
</div>

{% schema %}
{
  "name": "t:sections.ken-test.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    
  ],

  "presets": [
    {
      "name": "t:sections.ken-test.name"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
