/* PageFly Element Styles */
					.fzADw__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.fzADw { padding: 15px 0px; position: relative; }
.fzADw .sc-fOICqy { position: relative; }
.fzADw[data-container="true"] .sc-fOICqy { padding: 0px 15px; width: 100%; margin: auto; }
.fzADw .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.lfUedg { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .lfUedg { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .lfUedg { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .lfUedg { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bGdzzu { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bGdzzu { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bGdzzu { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bGdzzu { padding: var(--pf-s-xs); }
}
.hIldtt { position: relative; }
.cAJfEr[data-pf-type="ProductText"].no-product { text-decoration: none; }
.tVbne { display: inline-flex; vertical-align: middle; }
.tVbne picture { width: 100%; }
.emuDKA { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.emuDKA img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.hUlMxv > a { color: inherit !important; }
.hUlMxv > span { font-weight: inherit; text-decoration: inherit; }
.hUlMxv { word-break: break-word; }
.hUlMxv.pf-i--left i { margin-right: 0.3em; }
.hUlMxv.pf-i--right i { margin-left: 0.3em; }
.hUlMxv.pf-i--top i { margin-bottom: 0.5em; }
.hUlMxv.pf-i--top > span, .hUlMxv.pf-i--top > a { display: block; }
.hUlMxv.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hUlMxv [class*="--diamond"] { margin-right: 1em; }
.dvzjbh { display: inline-block; }
.dvzjbh[contenteditable="true"] { user-select: text; }
.dvzjbh { vertical-align: baseline; word-break: break-word; }
.dvzjbh:focus { outline: none; }
.dvzjbh::after { display: inline; }
.ktfcrL { display: inline-block; border: 1px solid rgb(229, 229, 229); }
.ktfcrL .pb-countdown__inner { display: flex; }
.ktfcrL > div > div { text-align: center; padding: 0px 15px; display: -webkit-flex; flex-direction: column; min-width: 70px; }
.ktfcrL--reverse > div > div { flex-direction: column-reverse; }
.ktfcrL > div > div > * { display: block; line-height: 1; }
.ktfcrL span { font-size: 30px; }
.ktfcrL label { font-weight: normal; margin-top: 5px; font-size: 14px; margin-bottom: 0px; }
.ktfcrL--basic { border: none; }
.ktfcrL > div { padding: 10px 0px; border-color: inherit; }
.ktfcrL > div > div { border-right-width: 1px; border-right-style: solid; border-color: inherit; border-radius: 0px; }
.ktfcrL > div > div:last-child { border-right: none; }
.gbbbca { visibility: hidden; }
.cyFFPa.pfs--topLeft { display: flex; align-items: flex-start; -webkit-box-pack: start; justify-content: flex-start; }
.cyFFPa.pfs--topCenter { display: flex; align-items: flex-start; -webkit-box-pack: center; justify-content: center; }
.cyFFPa.pfs--topRight { display: flex; align-items: flex-start; -webkit-box-pack: end; justify-content: flex-end; }
.cyFFPa.pfs--middleLeft { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: start; justify-content: flex-start; }
.cyFFPa.pfs--center { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }
.cyFFPa.pfs--middleRight { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: end; justify-content: flex-end; }
.cyFFPa.pfs--bottomLeft { display: flex; align-items: flex-end; -webkit-box-pack: start; justify-content: flex-start; }
.cyFFPa.pfs--bottomCenter { display: flex; align-items: flex-end; -webkit-box-pack: center; justify-content: center; }
.cyFFPa.pfs--bottomRight { display: flex; align-items: flex-end; -webkit-box-pack: end; justify-content: flex-end; }
.lhcSmT.lhcSmT { font-size: 14px; text-align: center; width: auto; height: auto; border: none; font-family: FontAwesome !important; }
.lhcSmT.lhcSmT[data-href] { cursor: pointer; }
.bilRqI { margin: 0px -15px; }
.bilRqI .pf-blm { margin: 30px auto 0px; flex-basis: 100%; text-align: center; }
.bilRqI .pf-bpa { flex-basis: 100%; text-align: center; display: flex; -webkit-box-pack: center; justify-content: center; margin-top: 30px; }
.bilRqI .pf-bpa a { cursor: pointer; padding: 2px 10px; margin: 2px; border: 1px solid transparent; border-radius: 2px; position: relative; }
.bilRqI .pf-bpa a.currentPage { border-color: rgba(0, 0, 0, 0.1); pointer-events: none; }
.bilRqI .pf__shopify-product { width: 100%; text-align: center; }
.bilRqI .pf-c { padding: 15px; display: flex; }
.bilRqI .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; max-width: 100%; position: relative; }
.bilRqI .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.bilRqI .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.bilRqI .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.bilRqI .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.bilRqI .product__button span { pointer-events: none; }
.bilRqI .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.bilRqI .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.bilRqI .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.bilRqI .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.bilRqI .shopify__product-vertical, .bilRqI .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.bilRqI .shopify__product-vertical .product__info, .bilRqI .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.bilRqI .shopify__product-horizontal { display: -webkit-flex; }
.bilRqI .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.bilRqI .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.bilRqI .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.bilRqI .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
.jDpxBb > a { color: inherit !important; }
.jDpxBb > span { font-weight: inherit; text-decoration: inherit; }
.jDpxBb { word-break: break-word; }
.jDpxBb.pf-i--left i { margin-right: 0.3em; }
.jDpxBb.pf-i--right i { margin-left: 0.3em; }
.jDpxBb.pf-i--top i { margin-bottom: 0.5em; }
.jDpxBb.pf-i--top > span, .jDpxBb.pf-i--top > a { display: block; }
.jDpxBb.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.jDpxBb [class*="--diamond"] { margin-right: 1em; }
.gSxBZk { position: relative; }
.eIHAvg > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .eIHAvg[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .eIHAvg[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.eIHAvg[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.eIHAvg[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.eIHAvg.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.eIHAvg.dropcap--circle > span:first-child { border-radius: 100%; }
.eIHAvg:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.eIHAvg ol, .eIHAvg ul { list-style-position: inside; }
.eIHAvg blockquote { font-size: inherit; }
.iAjftk > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .iAjftk[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .iAjftk[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.iAjftk[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background: rgb(145, 157, 169); }
.iAjftk[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.iAjftk.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.iAjftk.dropcap--circle > span:first-child { border-radius: 100%; }
.iAjftk:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.iAjftk ol, .iAjftk ul { list-style-position: inside; }
.iAjftk blockquote { font-size: inherit; }
.dNvHOx { display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: none; border-radius: 0px; text-decoration: none; position: relative; max-width: 100%; outline: none; vertical-align: middle; }
.dNvHOx:hover, .dNvHOx:active, .dNvHOx:focus { color: inherit; text-decoration: none; }
.dNvHOx > span { text-decoration: inherit; line-height: inherit; display: inline-block; max-width: 100%; }
.dNvHOx[data-active="true"] { background: black; color: white; }
.dNvHOx.pf-i--left i { margin-right: 0.3em; }
.dNvHOx + .sc-ipZHIp, .dNvHOx.pf-i--right i { margin-left: 0.3em; }
.dNvHOx.pf-i--top i { margin-bottom: 0.5em; display: block; }
.fxSfng { padding: 20px; margin: 0px -15px; }
.fxSfng.pf-r-ew--2 > div { display: flex; }
.fxSfng.pf-r-ew--2 .pf-c { width: 100%; }
.fxSfng .pf-feature-product--vertical { width: 100%; }
.fxSfng .pf-feature-product--vertical .pf-feature-product__infos { padding: 20px 0px 0px; color: rgb(0, 0, 0); }
.pf-feature-product--vertical .pf-feature-product--noimage .fxSfng .pf-feature-product__infos { padding-top: 0px; background: blue; }
.fxSfng .pf-feature-product__image img { max-width: 100%; }
.fxSfng .pf-feature-product__infos { padding-left: 30px; }
.fxSfng .pf-feature-product--noimage .pf-feature-product__infos { padding-left: 0px; }
.fxSfng .pf-feature-product__infos > h3 { margin: 0px; font-weight: 500; }
.fxSfng .pf-p-hs .pf-p-prr { text-decoration: line-through; opacity: 0.6; margin-right: 10px; }
.fxSfng .pf-p-hs .pf-p-prr.hide { display: none; }
.fxSfng .pf-p-prr.hide { display: none; }
.fxSfng .pf-p-hs .pf-p-prs { display: inline-block; }
.fxSfng .pf-feature-product__actions { position: relative; }
.fxSfng .product__variants + .pf-feature-product__actions { margin-top: 15px; display: inline-flex; }
.fxSfng .pf-feature-product__actions > a { text-decoration: none; }
.fxSfng .product__variants + .pf-feature-product__actions .js-qty { margin: 0px 10px 0px 0px; width: 100px; }
.fxSfng .product__variants + .pf-feature-product__actions button { height: 42px; line-height: 42px; z-index: 1; }
.fxSfng .product__variants + .pf-feature-product__actions :focus { outline: 0px; }
.fxSfng input[name="quantity"] { max-width: 60px; position: absolute; margin-right: 3px; height: 100%; padding: 0px 10px; line-height: unset; }
.fxSfng .js-qty input[name="quantity"] { max-width: 100px; }
.fxSfng .pf-fp-pr { padding: 5px 0px 15px; font-size: 20px; font-weight: bold; }
.fxSfng .pf-feature-product__vendor { margin-bottom: 0px; }
.fxSfng .pf-fp-pr s { font-size: 0.7em; margin-right: 5px; }
.fxSfng .pf-feature-product__viewfull, .fxSfng .pf-feature-product__desc { margin-top: 20px; display: block; }
.fxSfng .pf-feature-product__viewfull { text-decoration: underline; color: rgb(27, 28, 29); }
.fxSfng ul, .fxSfng ol { list-style-position: inside; margin: 10px 0px; }
.fxSfng .product__button { padding: 0px 1.5em; background: rgb(85, 193, 72); color: rgb(255, 255, 255); border: none; display: inline-flex; -webkit-box-align: center; align-items: center; height: 42px; line-height: 42px; white-space: nowrap; }
.fxSfng input + .product__button { margin-left: 63px; }
.fxSfng .product__button[disabled], .fxSfng .product__button[data-disabled] { pointer-events: none; opacity: 0.7; }
.fxSfng .product__button > * { pointer-events: none; }
@media (max-width: 768px) {
  .fxSfng .pf-feature-product--horizontal { display: block !important; }
  .fxSfng .pf-feature-product__infos { padding-left: 0px; margin-top: 20px; }
}
.cHCglQ { color: inherit; display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; background-color: rgb(235, 235, 235); text-decoration: none; position: relative; }
.cHCglQ span { pointer-events: none; }
.cHCglQ[disabled] { pointer-events: none; opacity: 0.7; }
.cHCglQ.is-loading, .cHCglQ.is-added { pointer-events: none; }
.gQGQbm .pf-form__field, .gQGQbm .pf-form__submit { pointer-events: initial; }
.gQGQbm .pf-form-success { color: red; font-weight: bold; border: 1px solid rgb(89, 172, 108); padding: 10px; }
.gQGQbm .pf-form__notice { margin-bottom: 20px; }
.gQGQbm .pf-form__notice span, .gQGQbm .pf-form__notice sup { color: red; }
.gQGQbm .pf-form--center { text-align: center; }
.gQGQbm .pf-form--right { text-align: right; }
.gQGQbm .pf-form__submit { background-color: rgb(45, 45, 45); color: rgb(255, 255, 255); }
.gQGQbm .pf-form__submit:hover { opacity: 0.9; }
.gQGQbm .pf-form__submit i { margin-right: 10px; }
.jFOHdz { margin-bottom: 20px; }
.jFOHdz label sup { color: red; margin-left: 3px; }
.jFOHdz:last-child { margin-bottom: 0px; }
.jFOHdz input[type="checkbox"], .jFOHdz input[type="radio"] { margin-right: 5px; margin-top: 10px; }
.jFOHdz input[type="checkbox"]:first-child, .jFOHdz input[type="radio"]:first-child, .jFOHdz input[type="email"]:first-child { margin-top: 0px; }
.jFOHdz .pf-form__field { box-shadow: none; outline: none; width: 100%; }
.jFOHdz .pf-form__field[type="checkbox"], .jFOHdz .pf-form__field[type="radio"] { width: auto; }
.jFOHdz label { width: 100%; }
.jFOHdz.pf-form__field-wrap { display: flex; flex-wrap: wrap; }
.jFOHdz .pf-form__field-element { width: 100%; }
.jFOHdz.pf-form--label-left, .jFOHdz.pf-form--label-right { flex-wrap: nowrap; }
.jFOHdz.pf-form--label-left label, .jFOHdz.pf-form--label-right label { width: 200px; margin-right: 20px; margin-bottom: 0px; }
.jFOHdz.pf-form--label-right { flex-direction: row-reverse; }
.jFOHdz.pf-form--label-right label { margin: 0px 0px 0px 20px; }
.jFOHdz.pf-form--label-above label { margin: 0px 0px 10px; }
.jFOHdz.pf-form--label-below { flex-direction: column-reverse; }
.jFOHdz.pf-form--label-below label { margin: 10px 0px 0px; }
.hAagbY { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.hAagbY .sc-dRaagA { position: relative; display: flex; flex: 1 1 auto; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hAagbY .sc-dREXXX { display: none; }
}
@media (min-width: 1200px) {
  .hAagbY .sc-dREXXX { display: none; }
}
@media (min-width: 992px) {
  .kRqAUS .sc-cjHlYL { display: none; }
}
.kRqAUS .sc-cjHlYL { transition: all 0.3s ease 0s; opacity: 1; }
.kRqAUS .sc-cjHlYL.prev-arrow { left: 16px; top: calc(50% - 16px); }
.kRqAUS .sc-cjHlYL.next-arrow { right: 16px; top: calc(50% - 16px); }
.kRqAUS .sc-cjHlYL i.fa { color: rgb(93, 107, 130); transform: none; }
.kRqAUS .sc-cjHlYL { transition: all 0.3s ease 0s; opacity: 0; }
.kRqAUS .sc-cjHlYL.prev-arrow { left: -100%; top: calc(50% - 16px); }
.kRqAUS .sc-cjHlYL.next-arrow { right: -100%; top: calc(50% - 16px); }
.kRqAUS .sc-cjHlYL i.fa { transform: none; }
.kRqAUS:hover .sc-cjHlYL { opacity: 1; }
.kRqAUS:hover .sc-cjHlYL.prev-arrow { left: 16px; }
.kRqAUS:hover .sc-cjHlYL.next-arrow { right: 16px; }
.dSDDEt { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.dSDDEt.prev-arrow { left: 16px; top: calc(50% - 16px); }
.dSDDEt.next-arrow { right: 16px; top: calc(50% - 16px); }
.dSDDEt i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.dSDDEt.pf-show-nav { opacity: 1; }
.lexybw { position: relative; vertical-align: middle; width: 100%; }
.lexybw img { width: 100%; border-radius: 4px; border: 1px solid rgb(209, 213, 219); }
.lexybw a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .lexybw { margin: 0px; }
}
.rFNNe { position: relative; display: flex; margin-top: 10px; }
.rFNNe [data-active="true"] { border: 1px solid rgb(149, 27, 37); padding: 2px; }
.rFNNe .icon-left { transform: rotate(180deg); }
.rFNNe .icon-right { right: 0px; }
.rFNNe .icon-left:hover, .rFNNe .icon-right:hover { opacity: 0.5; }
.rFNNe .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; left: 0px; right: 0px; margin: 0px auto; }
.rFNNe .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 50px; }
.rFNNe .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.rFNNe .pf-p-image-small-container .pf-small-img-roll .sc-imABML { height: 0px; float: left; }
.rFNNe .pf-p-image-small-container .pf-small-img-roll .sc-imABML img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.rFNNe .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .rFNNe { display: none; }
}
.TqQmZ { position: relative; display: flex; margin-top: 10px; }
.TqQmZ [data-active="true"] { border: 1px solid rgb(149, 27, 37); padding: 2px; }
.TqQmZ .icon-left { transform: rotate(180deg); }
.TqQmZ .icon-right { right: 0px; }
.TqQmZ .icon-left:hover, .TqQmZ .icon-right:hover { opacity: 0.5; }
.TqQmZ .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; left: 0px; right: 0px; margin: 0px auto; }
.TqQmZ .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 605px; }
.TqQmZ .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.TqQmZ .pf-p-image-small-container .pf-small-img-roll .sc-imABML { width: 103px; height: 111px; float: left; }
.TqQmZ .pf-p-image-small-container .pf-small-img-roll .sc-imABML img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.TqQmZ .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .TqQmZ { display: none; }
}
.fgrDmB { position: relative; display: flex; margin-top: 10px; }
.fgrDmB [data-active="true"] { border: 1px solid rgb(149, 27, 37); padding: 2px; }
.fgrDmB .icon-left { transform: rotate(180deg); }
.fgrDmB .icon-right { right: 0px; }
.fgrDmB .icon-left:hover, .fgrDmB .icon-right:hover { opacity: 0.5; }
.fgrDmB .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; left: 0px; right: 0px; margin: 0px auto; }
.fgrDmB .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 174px; }
.fgrDmB .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.fgrDmB .pf-p-image-small-container .pf-small-img-roll .sc-imABML { width: 16.8px; height: 24.8px; float: left; }
.fgrDmB .pf-p-image-small-container .pf-small-img-roll .sc-imABML img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.fgrDmB .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .fgrDmB { display: none; }
}
.dwiWpb[data-pf-type="ProductText"].no-product { text-decoration: none; }
.beooga { display: flex; }
.beooga label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.beooga .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .beooga .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .beooga .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .beooga .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-xs); }
}
.beooga .pf-p-variant { display: flex; flex-direction: column; }
.beooga .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
  .beooga .pf-p-variant { flex: 1 1 0%; }
}
.beooga select { min-height: 30px; -webkit-appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.beooga select:focus { outline: none; }
.beooga .pf-p-variant-radio { display: block; -webkit-box-align: center; align-items: center; flex-wrap: wrap; }
.beooga .pf-p-variant-radio > div:not(:last-child) { margin-bottom: 8px; }
.beooga .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .beooga { flex-direction: column; }
  .beooga label { display: block; }
  .beooga .pf-p-variant-radio { display: inline-flex; }
}
.elkSxA { display: inline-flex; }
.elkSxA input { width: 60px; height: 40px; outline: none; text-align: center; padding: 0px; border: 1px solid rgb(209, 213, 219); border-radius: 4px; }
.elkSxA input[data-hidespinner="true"] { }
.elkSxA input[data-hidespinner="true"]::-webkit-outer-spin-button, .elkSxA input[data-hidespinner="true"]::-webkit-inner-spin-button { -webkit-appearance: none; }
.elkSxA input:not(:first-child) { margin: 0px 4px; }
.elkSxA button { width: 40px; height: 40px; outline: none; border: inherit; border-radius: inherit; padding: 0px; }
.elkSxA button[data-quantity-disabled="true"] { opacity: 0.2; }
.elkSxA .js-qty { margin: 0px 4px; max-width: initial; min-width: initial; width: 60px; height: 40px; }
.elkSxA .js-qty span { display: none; }
.elkSxA .js-qty input { height: 100%; padding: 0px; }
.fjYLEQ { display: inline-block; border: none; outline: none; line-height: 1; padding: 0.7em 1.2em; cursor: pointer; text-align: center; background-color: rgb(235, 235, 235); text-decoration: none; position: relative; }
.fjYLEQ[disabled] { opacity: 0.7; }
.fjYLEQ.is-loading, .fjYLEQ.is-added { pointer-events: none; }
.fjYLEQ > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.fjYLEQ.pf-i--left i { margin-right: 0.3em; }
.fjYLEQ + .sc-gkFcWv, .fjYLEQ.pf-i--right i { margin-left: 0.3em; }
.ciUhhB { color: rgb(0, 108, 229); cursor: pointer; }
.ciUhhB > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.ciUhhB.pf-i--left i { margin-right: 0.3em; }
.ciUhhB + .sc-jKmXuR, .ciUhhB.pf-i--right i { margin-left: 0.3em; }
.fCCIRq { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .fCCIRq { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .fCCIRq { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .fCCIRq { grid-gap: var(--pf-s-xs); }
}
					/* PageFly Styles */
					
@media all {
	.__pf .pf-dcfc5280 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 text-align: center;
		 color: black;
		 font-size: 30px;
		 font-family: "GFS Didot";
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-9f649b1f {
		color: white;
		 background-color: white;
		 padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-fe58e141 {
		text-align: center;
		 font-size: 30px;
		 color: white;
		 margin-top: 0px;
		 font-family: "GFS Didot";
		 font-weight: 400;
		 line-height: 1.5;
		 margin-bottom: 25px;
	}
	.__pf .pf-4599d69f {
		border-style: solid;
		 border-width: 4px;
		 border-color: rgb(208, 2, 27);
	}
	.__pf .pf-4599d69f > div > div > label {
		font-family: Poppins;
		 color: white;
	}
	.__pf .pf-4599d69f > div > div > span {
		font-family: Poppins;
		 font-size: 40px;
		 font-weight: 500;
		 color: white;
	}
	.__pf .pf-60a0466a {
		text-align: center;
		 margin-bottom: 15px;
	}
	.__pf .pf-5cf5a6a7 {
		background-color: white;
		 background-image: url("https://media.pagefly.io/file/get/kpng-1540802525139.png");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: cover;
		 padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-5469c8b7 {
		background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/bn6jpg-1541127242720.jpg");
		 background-position: 50% 50%;
	}
	.__pf .pf-f21f9b1d {
		background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/maskjpg-1540805253788.jpg");
		 background-position: 50% 50%;
	}
	.__pf .pf-25854347 {
		height: 550px;
		 background-image: url("https://media.pagefly.io/file/get/maskjpg-1540805253788.jpg");
		 background-repeat: no-repeat;
		 background-size: contain;
		 background-position: 50% 50%;
	}
	.__pf .pf-46ae6dcb {
		margin: 0px;
	}
	.__pf .pf-3038836a {
		padding: 30px;
	}
	.__pf .pf-0ea730ae {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 text-align: center;
		 font-family: "GFS Didot";
		 font-size: 30px;
		 color: black;
		 margin-bottom: 35px;
		 margin-top: 0px;
	}
	.__pf .pf-7604777d {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 text-align: center;
		 font-family: "GFS Didot";
		 font-size: 30px;
		 color: black;
		 margin-bottom: 35px;
		 margin-top: 0px;
	}
	.__pf .pf-b9668ad5 {
		font-family: Poppins;
		 color: black;
		 margin-top: -20px;
		 background-color: white;
	}
	.__pf .pf-b9668ad5 > .pf-c > div > div > div > .product__button {
		background-color: rgb(208, 2, 27);
	}
	.__pf .pf-b9668ad5 > .pf-c > div {
		font-family: Poppins;
		 color: black;
	}
	.__pf .pf-b9668ad5 > .pf-c > div > div > h3 > a {
		color: black;
		 font-family: Poppins;
		 font-weight: 400;
	}
	.__pf .pf-c8984adf {
		padding-bottom: 0px;
		 padding-top: 10px;
	}
	.__pf .pf-08109021 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 text-align: center;
		 font-family: "GFS Didot";
		 font-size: 30px;
		 color: black;
		 margin-top: 0px;
	}
	.__pf .pf-1f256dbc {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 text-align: center;
		 font-family: "GFS Didot";
		 font-size: 30px;
		 color: black;
		 margin-top: 0px;
	}
	.__pf .pf-55941797 {
		font-family: Poppins;
		 font-weight: 400;
	}
	.__pf .pf-55941797 > .pf-c > div > div > div > .product__button {
		background-color: rgb(208, 2, 27);
		 font-family: Poppins;
	}
	.__pf .pf-55941797 > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		background-color: rgb(208, 2, 27);
	}
	.__pf .pf-55941797 > .pf-c > div > div > h3 > a {
		font-family: Poppins;
		 font-weight: 400;
		 margin-top: -30px;
	}
	.__pf .pf-236f9ffc {
		padding-bottom: 0px;
		 padding-top: 10px;
	}
	.__pf .pf-8775c7d7 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 font-family: "GFS Didot";
		 font-size: 30px;
		 color: black;
		 margin-bottom: 0px;
		 text-align: center;
		 margin-top: 0px;
	}
	.__pf .pf-b413c337 {
		font-family: Poppins;
		 color: black;
		 margin-top: -20px;
		 font-weight: 400;
	}
	.__pf .pf-955ba62a {
		margin-top: -20px;
		 font-family: Poppins;
		 color: black;
	}
	.__pf .pf-955ba62a > .pf-c > div > div > div > .product__button {
		font-family: Poppins;
		 color: black;
	}
	.__pf .pf-955ba62a > .pf-c > div > div > h3 > a {
		font-family: Poppins;
		 font-weight: 400;
	}
	.__pf .pf-c0226d49 {
		padding-top: 10px;
		 padding-bottom: 30px;
		 margin-top: 0px;
	}
	.__pf .pf-2bee927e {
		font-family: "GFS Didot";
		 text-align: center;
		 font-size: 30px;
		 color: black;
		 margin-bottom: 5px;
		 margin-top: 0px;
	}
	.__pf .pf-043177e5 {
		color: black;
	}
	.__pf .pf-c6fbb5c9 {
		text-align: center;
		 padding-bottom: 15px;
	}
	.__pf .pf-44e2914b {
		border-style: none;
		 border-width: 3px;
		 border-color: rgb(113, 127, 142);
		 padding: 10px;
	}
	.__pf .pf-313e19a4 {
		margin-top: 15px;
		 border-radius: 0px;
		 text-transform: capitalize;
	}
	.__pf .pf-f66f1176 {
		text-align: center;
	}
	.__pf .pf-dff157c8 {
		font-family: "GFS Didot";
		 text-align: center;
		 font-size: 30px;
		 color: black;
		 margin-bottom: 5px;
		 margin-top: 0px;
	}
	.__pf .pf-481d679c {
		color: black;
	}
	.__pf .pf-61bb95fc {
		text-align: center;
		 padding-bottom: 15px;
	}
	.__pf .pf-3d08fa90 {
		border-style: none;
		 border-width: 3px;
		 border-color: rgba(113, 127, 142, 0.61);
		 padding: 10px;
	}
	.__pf .pf-9c845e9a {
		margin-top: 15px;
		 font-family: Poppins;
		 border-radius: 0px;
		 text-transform: capitalize;
	}
	.__pf .pf-8351c929 {
		text-align: center;
	}
	.__pf .pf-a0b42f0c {
		background-color: rgb(245, 245, 245);
		 padding-bottom: 55px;
		 padding-top: 45px;
	}
	.__pf .pf-c3656035 {
		font-size: 25px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-6481d40d {
		font-size: 25px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-4e57013d {
		font-size: 25px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-fa3339f2 {
		font-size: 25px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-4187fedc {
		font-size: 25px;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-3d79ef12 {
		font-size: 30px;
		 text-transform: uppercase;
		 letter-spacing: 2px;
		 text-align: center;
		 font-family: "GFS Didot";
		 color: black;
		 margin-top: -25px;
		 margin-bottom: 5px;
	}
	.__pf .pf-958b596f {
		font-size: 30px;
		 text-transform: uppercase;
		 letter-spacing: 2px;
		 text-align: center;
		 font-family: "GFS Didot";
		 color: black;
		 margin-top: -25px;
		 margin-bottom: 5px;
		 line-height: 1.5;
	}
	.__pf .pf-99ee254e {
		color: black;
		 padding-bottom: 15px;
		 line-height: 1.5;
		 font-family: Poppins;
	}
	.__pf .pf-46f4c68d {
		text-align: center;
		 padding-top: 40px;
	}
	.__pf .pf-bb942f51 .product__button {
		background-color: rgb(208, 2, 27);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-bb942f51 {
		font-family: Poppins;
		 line-height: 1.5;
		 color: black;
	}
	.__pf .pf-bb942f51 [class*="__infos"] > h3 {
		font-family: Poppins;
		 color: black;
		 line-height: 1.5;
		 font-weight: 500;
		 font-size: 22px;
	}
	.__pf .pf-bb942f51 div > [class*="__prices"] {
		font-size: 28px;
		 font-family: Poppins;
		 font-weight: 600;
		 color: rgb(208, 2, 27);
	}
	.__pf .pf-587752a4 {
		padding-bottom: 0px;
	}
	.__pf .pf-fac64c6d {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 text-align: center;
		 font-family: "GFS Didot";
		 font-size: 30px;
		 color: black;
		 margin-top: 0px;
	}
	.__pf .pf-c2a4f51c {
		background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-8c9beb3c {
		height: 500px;
	}
	.__pf .pf-25cf5b34 {
		text-align: left;
		 font-family: Poppins;
		 font-weight: 500;
		 font-size: 18px;
		 line-height: 1.5;
		 color: black;
	}
	.__pf .pf-0e89abcd {
		text-align: left;
		 line-height: 1.5;
		 font-family: Poppins;
		 color: black;
		 margin-bottom: 25px;
	}
	.__pf .pf-ab6ccb50 {
		margin-left: 0px;
		 border-radius: 0px;
		 text-transform: capitalize;
		 font-family: Poppins;
		 font-weight: 400;
		 margin-bottom: 15px;
	}
	.__pf .pf-3f9bef5e {
		margin-top: 5px;
	}
	.__pf .pf-b10d15b2 {
		text-align: left;
	}
	.__pf .pf-e96c614a {
		background-color: rgb(245, 245, 245);
		 padding-bottom: 45px;
		 padding-top: 35px;
	}
	.__pf .pf-0c3b3a2a {
		border-style: solid;
		 border-width: 1px;
	}
	.__pf .pf-cc117cb8 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 text-align: center;
		 font-family: "GFS Didot";
		 font-size: 30px;
		 color: black;
		 margin-bottom: 5px;
		 margin-top: 0px;
	}
	.__pf .pf-e8b81bf4 {
		text-align: center;
		 color: black;
	}
	.__pf .pf-a55a70b5 {
		padding-bottom: 15px;
	}
	.__pf .pf-28abe664 {
		border-style: none;
	}
	.__pf .pf-56b7fef3 {
		margin: 0px;
		 font-family: Poppins;
		 padding-bottom: 5px;
		 font-size: 18px;
		 color: black;
	}
	.__pf .pf-55f5d470 {
		font-family: Poppins;
		 line-height: 1.5;
		 color: black;
	}
	.__pf .pf-5b0a4e14 {
		margin-top: 20px;
	}
	.__pf .pf-1e2c07e9 {
		text-align: center;
	}
	.__pf .pf-64cff2b1 {
		margin: 0px;
		 font-family: Poppins;
		 padding-bottom: 5px;
		 font-size: 18px;
		 font-weight: 500;
		 color: black;
	}
	.__pf .pf-18c5128b {
		line-height: 1.5;
		 font-family: Poppins;
		 color: black;
	}
	.__pf .pf-9ed5cc69 {
		margin-top: 20px;
	}
	.__pf .pf-38a093d4 {
		text-align: center;
	}
	.__pf .pf-1249f7cf {
		margin: 0px;
		 padding-bottom: 5px;
		 font-size: 18px;
		 font-family: Poppins;
		 color: black;
	}
	.__pf .pf-7e88095b {
		line-height: 1.5;
		 font-family: Poppins;
		 color: black;
	}
	.__pf .pf-62013a75 {
		margin-top: 20px;
	}
	.__pf .pf-fd5a5bc4 {
		text-align: center;
	}
	.__pf .pf-3848d4e3 {
		border-radius: 0px;
		 text-transform: capitalize;
	}
	.__pf .pf-c81f27ad {
		text-align: center;
	}
	.__pf .pf-019d31fb {
		padding-bottom: 55px;
		 padding-top: 45px;
	}
	.__pf .pf-74d5657c {
		border-style: solid;
		 border-width: 4px;
		 font-family: Poppins;
		 font-size: 40px;
		 font-weight: 500;
		 color: white;
		 border-color: black;
	}
	.__pf .pf-74d5657c > div > div > span {
		font-size: 46px;
		 font-family: Poppins;
		 color: white;
		 border-style: none;
	}
	.__pf .pf-74d5657c > div > div > label {
		color: white;
	}
	.__pf .pf-0fafb907 {
		text-align: center;
	}
	.__pf .pf-46f6fd65 {
		color: rgb(208, 2, 27);
		 background-color: rgb(208, 2, 27);
		 padding-bottom: 0px;
		 padding-top: 55px;
	}
	.__pf .pf-1321f85a {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 text-align: center;
		 font-family: "GFS Didot";
		 font-size: 30px;
		 color: white;
	}
	.__pf .pf-c1174b41 > form > div > div > .pf-form__submit {
		background-color: white;
		 color: black;
		 padding: 6px 30px;
		 height: auto;
		 border-radius: 0px;
		 font-family: Poppins;
		 border-style: none;
	}
	.__pf .pf-c1174b41 {
		font-family: Poppins;
		 color: white;
		 text-align: left;
	}
	.__pf .pf-40fa06b3 {
		margin-top: -15px;
	}
	.__pf .pf-c1b21b94 {
		background-color: rgb(208, 2, 27);
		 background-image: url("https://media.pagefly.io/file/get/bgfooterpng-1540702095319.png");
		 background-repeat: no-repeat;
		 background-position: 50% 100%;
		 background-size: contain;
	}
	.__pf .pf-51c522ec {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-1d147bda {
		margin-bottom: 15px;
		 font-size: 16px;
	}
	.__pf .pf-2b973e42 {
		background-color: rgb(93, 107, 130);
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 border-radius: 2px;
		 padding-top: 12px;
		 padding-bottom: 12px;
	}
	.__pf .pf-60e6c842 {
		padding: 0px;
	}
	.__pf .pf-2d02c27e {
		font-size: 28px;
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-36e93669 {
		font-size: 28px;
		 margin-bottom: 15px;
	}
	.__pf .pf-f8374325 {
		margin-bottom: 15px;
	}
	.__pf .pf-e72ecd51 {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
	}
	.__pf .pf-dc91d57c > button {
		background-color: rgb(93, 107, 130);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-efc8a395 {
		background-color: rgb(93, 107, 130);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
		 font-size: 16px;
		 margin-left: 15px;
	}
	.__pf .pf-cdaebe4d {
		margin-bottom: 15px;
	}
	.__pf .pf-60624e0b {
		font-size: inherit;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-dcfc5280 {
		font-size: 20px;
	}
	.__pf .pf-9f649b1f {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-fe58e141 {
		font-size: 20px;
	}
	.__pf .pf-4599d69f {
		width: 100%;
		 display: flex;
		 align-items: center;
		 place-content: center;
	}
	.__pf .pf-5cf5a6a7 {
		padding-top: 10px;
		 padding-bottom: 10px;
	}
	.__pf .pf-25854347 {
		height: 110px;
	}
	.__pf .pf-3038836a {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-7604777d {
		font-size: 20px;
	}
	.__pf .pf-1f256dbc {
		font-size: 20px;
		 margin-top: 0px;
	}
	.__pf .pf-8775c7d7 {
		font-size: 20px;
	}
	.__pf .pf-2bee927e {
		font-size: 20px;
	}
	.__pf .pf-dff157c8 {
		font-size: 20px;
	}
	.__pf .pf-958b596f {
		font-size: 20px;
	}
	.__pf .pf-fac64c6d {
		font-size: 20px;
	}
	.__pf .pf-8c9beb3c {
		height: 400px;
	}
	.__pf .pf-cc117cb8 {
		font-size: 20px;
	}
	.__pf .pf-74d5657c {
		width: 100%;
	}
	.__pf .pf-74d5657c > div > div > span {
		font-size: 35px;
	}
	.__pf .pf-1321f85a {
		font-size: 20px;
	}
	.__pf .pf-f8374325 {
		margin-right: 0px;
	}
	.__pf .pf-efc8a395 {
		margin-left: 15px;
		 margin-top: 15px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-fe58e141 {
		margin-top: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-5cf5a6a7 {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
	.__pf .pf-25854347 {
		height: 250px;
	}
	.__pf .pf-efc8a395 {
		margin-left: 15px;
		 margin-top: 15px;
	}
}