/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.bzjhPd { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.bzjhPd .sc-eitiEO { position: relative; display: flex; flex: 1 1 auto; }
.bzjhPd.pf-show-arrow .sc-nrwXf { opacity: 1; }
.bzjhPd.pf-show-arrow .sc-nrwXf.prev-arrow { left: 16px; }
.bzjhPd.pf-show-arrow .sc-nrwXf.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .bzjhPd .sc-AnqlK { display: none; }
}
@media (min-width: 1200px) {
  .bzjhPd .sc-AnqlK { display: none; }
}
@media (min-width: 992px) {
  .hLGuQN .sc-nrwXf { display: none; }
}
.hLGuQN .sc-nrwXf { transition: all 0.3s ease 0s; opacity: 1; }
.hLGuQN .sc-nrwXf.prev-arrow { left: 16px; top: calc(50% - 16px); }
.hLGuQN .sc-nrwXf.next-arrow { right: 16px; top: calc(50% - 16px); }
.hLGuQN .sc-nrwXf i.fa { color: rgb(93, 107, 130); transform: none; }
.hLGuQN .sc-nrwXf { transition: all 0.3s ease 0s; opacity: 0; }
.hLGuQN .sc-nrwXf.prev-arrow { left: -100%; top: calc(50% - 16px); }
.hLGuQN .sc-nrwXf.next-arrow { right: -100%; top: calc(50% - 16px); }
.hLGuQN .sc-nrwXf i.fa { transform: none; }
.hLGuQN:hover .sc-nrwXf { opacity: 1; }
.hLGuQN:hover .sc-nrwXf.prev-arrow { left: 16px; }
.hLGuQN:hover .sc-nrwXf.next-arrow { right: 16px; }
.iEeNKD { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.iEeNKD.prev-arrow { left: 16px; top: calc(50% - 16px); }
.iEeNKD.next-arrow { right: 16px; top: calc(50% - 16px); }
.iEeNKD i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.iEeNKD.pf-show-nav { opacity: 1; }
.jTqelV { position: relative; vertical-align: middle; width: 100%; height: 450px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jTqelV { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jTqelV { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .jTqelV { display: var(--pf-d-xs); }
}
.jTqelV img { border-radius: 4px; width: 100%; }
.jTqelV a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .jTqelV { margin: 0px; }
}
.kovKGo { position: relative; display: flex; margin-top: 10px; }
.kovKGo .icon-left { transform: rotate(180deg); }
.kovKGo .icon-right { right: 0px; }
.kovKGo .icon-left:hover, .kovKGo .icon-right:hover { opacity: 0.5; }
.kovKGo .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.kovKGo .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 605px; }
.kovKGo .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.kovKGo .pf-p-image-small-container .pf-small-img-roll .sc-cpHetk { width: 103px; height: 111px; float: left; }
.kovKGo .pf-p-image-small-container .pf-small-img-roll .sc-cpHetk img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.kovKGo .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .kovKGo { display: none; }
}
.dilOGW[data-pf-type="ProductText"].no-product { text-decoration: none; }
.fgPtko[data-pf-type="ProductText"].no-product { text-decoration: none; }
.ivBRvn { display: flex; }
.ivBRvn label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.ivBRvn .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .ivBRvn .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .ivBRvn .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .ivBRvn .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-xs); }
}
.ivBRvn .pf-p-variant { display: flex; flex-direction: column; }
.ivBRvn .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
  .ivBRvn .pf-p-variant { flex: 1 1 0%; }
}
.ivBRvn select { min-height: 30px; -webkit-appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.ivBRvn select:focus { outline: none; }
.ivBRvn select option { color: inherit; }
.ivBRvn .pf-p-variant-radio { display: block; -webkit-box-align: center; align-items: center; flex-wrap: wrap; }
.ivBRvn .pf-p-variant-radio:not(:last-child) { margin-bottom: 8px; }
.ivBRvn .pf-p-variant-radio > div:not(:last-child) { margin-bottom: 8px; }
.ivBRvn .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .ivBRvn { flex-direction: column; }
  .ivBRvn label { display: block; }
  .ivBRvn .pf-p-variant-radio { display: inline-flex; }
}
.igZhSP { position: relative; }
.kDvBhz { display: inline-flex; }
.kDvBhz input { width: 60px; height: 40px; outline: none; text-align: center; padding: 0px; border: 1px solid rgb(209, 213, 219); border-radius: 4px; }
.kDvBhz input[data-hidespinner="true"] { }
.kDvBhz input[data-hidespinner="true"]::-webkit-outer-spin-button, .kDvBhz input[data-hidespinner="true"]::-webkit-inner-spin-button { -webkit-appearance: none; }
.kDvBhz input:not(:first-child) { margin: 0px 4px; }
.kDvBhz button { width: 40px; height: 40px; outline: none; border: inherit; border-radius: inherit; padding: 0px; }
.kDvBhz button[data-quantity-disabled="true"] { opacity: 0.2; }
.kDvBhz .js-qty { margin: 0px 4px; height: 40px; }
.kDvBhz .js-qty button { display: none; }
.hOFaaf { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }
.hOFaaf[disabled] { opacity: 0.7; }
.hOFaaf.is-loading, .hOFaaf.is-added { pointer-events: none; }
.hOFaaf > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.hOFaaf.pf-i--left i { margin-right: 0.3em; }
.hOFaaf + .sc-jkCMRl, .hOFaaf.pf-i--right i { margin-left: 0.3em; }
.bTKNh { color: rgb(0, 108, 229); cursor: pointer; }
.bTKNh > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.bTKNh.pf-i--left i { margin-right: 0.3em; }
.bTKNh + .sc-fHSTwm, .bTKNh.pf-i--right i { margin-left: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-df28dc20 {
		font-size: inherit;
	}
	.__pf .pf-a4482348 {
		font-size: inherit;
	}
	.__pf .pf-2f27e219 {
		position: sticky;
		 height: 100px;
		 z-index: 5;
		 opacity: 0.5;
		 top: 0px;
		 background-color: rgb(80, 227, 194);
	}
	.__pf .pf-a3a85929 {
		font-size: inherit;
	}
	.__pf .pf-a2e338cd {
		text-align: center;
	}
	.__pf .pf-81ca9569 {
		font-size: inherit;
	}
	.__pf .pf-3572199c {
		text-align: center;
	}
	.__pf .pf-ad4f47a9 {
		font-size: inherit;
	}
	.__pf .pf-0ca79a31 {
		background-color: rgb(208, 2, 27);
		 height: 900px;
	}
	.__pf .pf-dcb1ce71 {
		font-size: 28px;
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-8328ef68 {
		font-size: 28px;
		 margin-bottom: 15px;
	}
	.__pf .pf-7e780607 {
		margin-bottom: 15px;
	}
	.__pf .pf-81bac3f6 {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
	}
	.__pf .pf-b3035231 > button {
		background-color: rgb(93, 107, 130);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-06fb7342 {
		background-color: rgb(93, 107, 130);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
		 font-size: 16px;
		 margin-left: 15px;
	}
	.__pf .pf-f3e6f84a {
		margin-bottom: 15px;
	}
	.__pf .pf-3aeefd35 {
		font-size: 28px;
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-944f0d0b {
		font-size: 28px;
		 margin-bottom: 15px;
	}
	.__pf .pf-2d35c11a {
		margin-bottom: 15px;
	}
	.__pf .pf-1c04aaa5 {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
	}
	.__pf .pf-93aad98c > button {
		background-color: rgb(93, 107, 130);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-efaf7b7c {
		background-color: rgb(93, 107, 130);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
		 font-size: 16px;
		 margin-left: 15px;
	}
	.__pf .pf-0e76b169 {
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-7e780607 {
		margin-right: 0px;
	}
	.__pf .pf-06fb7342 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-2d35c11a {
		margin-right: 0px;
	}
	.__pf .pf-efaf7b7c {
		margin-left: 15px;
		 margin-top: 15px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-06fb7342 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-efaf7b7c {
		margin-left: 15px;
		 margin-top: 15px;
	}
}
						